
 
 {% if name %}
  <h3>Comments by {{ name }} </h3>
{% endif %}


 {% for story in story_data %}
<div><a href="{{ story.url }}" target="_blank"><h3>{{ story.title }} </h3></a> 
    <span>{{ story.score }} Points |</span>
    <span><a href="{{ url('<front>') }}author/{{ story.author }}">By {{ story.author }} |</a></span>
    <span>Time {{ story.time |date('d/m/Y H:i:s')}} | </span>
    <span><a href="{{ url('<front>') }}comments/{{ story.story_id }}">{{ story.count }} Comments</a></span></br></br>
</div>

{% endfor %}

<table id="comment-table">
<thead>
 <tr><th>Comments</th>
 </tr>
</thead>
<tbody>
{% for comment in items %}
<tr>  <td>
    <span><a href="{{ url('<front>') }}author/{{ comment.author }}"><b>By {{ comment.author }} |</a></span>
    <span>Time {{ comment.comment_time |date('d/m/Y H:i:s')}}</b></span></br>
  {{ comment.text| raw }}</td>
</tr>
{% endfor %}
</tbody>
</table>